<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <!-- 本地仓的绝对路径 -->
    <localRepository></localRepository>

    <mirrors>
        <mirror>
            <id>artifactory-maven-group</id>
            <mirrorOf>*,!kunpengmaven,!huaweicloud</mirrorOf>
            <name>Artifactory Maven</name>
            <url>https://mirrors.huaweicloud.com/repository/maven</url>
        </mirror>
    </mirrors>


        <profile>
    <id>kunpeng</id>
    <!-- 远程仓库列表，将华为鲲鹏 Maven 仓库放在最前面 -->
    <repositories>
        <repository>
            <id>kunpengmaven</id>
            <name>kunpeng maven</name>
            <url>https://mirrors.huaweicloud.com/kunpeng/maven/</url>
            <releases>
                <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>true</enabled>
            </snapshots>
        </repository>
        <!-- 其他 repository，配置其他Maven中央仓库，以华为云 Maven为例 -->
        <repository>
            <id>huaweicloud</id>
            <name>huaweicloud maven</name>
            <url>https://mirrors.huaweicloud.com/repository/maven/</url>
            <releases>
                <enabled>true</enabled>
            </releases>
        </repository>
    </repositories>
</profile>
<!-- 激活上面的profile -->
<activeProfiles>
    <activeProfile>kunpeng</activeProfile>
</activeProfiles>


</settings>
